@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  left: 200px;
}

.read-the-docs {
  color: #888;
}

/* ----------- Responsive Styles ----------- */
@media (max-width: 992px) {
  .card {
    left: 100px;
    padding: 1.5em;
  }
}

@media (max-width: 768px) {
  .card {
    left: 50px;
    padding: 1.2em;
  }
}

@media (max-width: 576px) {
  .card {
    left: 0;
    padding: 1em;
  }

  .read-the-docs {
    font-size: 14px;
    text-align: center;
  }
}

.custom-input {
  border: 1px solid #BCBEC0;
  border-radius: 5px;
  height: 50px ;
  width: 300px;
  padding: 10px;
  transition: all .4s;
  outline: none;
  color: #505050;
}

.custom-input:disabled {
  background-color: #dbdbdb86;
}

.custom-input::placeholder {
  color: #BCBEC0;
}

.custom-input:hover {
  transform: translateY(-4px);
}

.custom-btn {
  border-radius: 5px;
  outline: none;
  border: none;
  transition: all .3s;
}

.custom-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.651);
}

/* ANIMACIONES DE ELEMENTOS DE FONDO - Login - Register */
@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.float {
  animation: float 4s ease-in-out infinite;
  position: absolute;
}

.huella {
  top: 0px;
  left: 20px;
}

.vela {
  top: 0px;
  right: 150px;
}

.paleta {
  bottom: 10px;
  right: 350px;
}

.cactus {
  bottom: 0px;
  left: 300px;
}


/* ANIMACIONES PARA LAS LUCES*/
.light {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, #ff6daa 0%, transparent 70%);
  opacity: 0.5;
  animation-name: floatLights;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.login-content .custom-btn{
  margin-top: 25px !important;
}

@keyframes floatLights {
  0%, 100% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-15px) translateX(10px) scale(1.1);
    opacity: 0.8;
  }
}

 /* ANIMACIONES PARA LAS FIGURAS */
  .shape {
    position: absolute;
    opacity: 0.15;
    filter: drop-shadow(0 0 4px rgba(29, 3, 53, 0.616));
    animation-name: slowRotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
 
  .shape.circle {
    border-radius: 50%;
    background: #ffffff;
  }
  
  .shape.triangle {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid #ffffff;
    background: transparent;
    filter: drop-shadow(0 0 4px #4d2636);
    animation-name: slowRotateTriangle;
  }
  
  
  @keyframes slowRotate {
    from { transform: rotate(0deg) translateY(0); }
    to { transform: rotate(360deg) translateY(0); }
  }
  
  
  @keyframes slowRotateTriangle {
    0% { transform: rotate(0deg) translateY(0); }
    50% { transform: rotate(180deg) translateY(5px); }
    100% { transform: rotate(360deg) translateY(0); }
  }

  .app-container {
    display: flex;
    height: 100vh; /* que ocupe toda la altura de la pantalla */
  }
  
  .page-container {
    flex: 1; /* ocupa todo el espacio restante del sidebar */
    padding: 20px;
    overflow-y: auto;
  }
  
  /* SWEETALERT STYLES - Estilos para las alertas de todo el proyecto*/
  * {
    --swal2-cancel-button-background-color: #4d2636 !important;
    --swal2-confirm-button-background-color: #ffffff !important;
}


div:where(.swal2-icon).swal2-warning {
    color: #4d2636 !important;
    border-color: #4d2636 !important;
}

div:where(.swal2-icon).swal2-question{
  color: #ff6daa !important;
  border-color: #ff6daa !important;
}

.swal2-success-line-tip{
    background-color: #ff6daa !important;
}

.swal2-success-line-long {
    background-color: #ff6daa !important;
}

.swal2-success-ring {
    border-color: #ff6daa !important;
}

.swal2-timer-progress-bar {
    background-color: #805c6c;
}

/*
#swal2-title{
    font-family: 'Poppins',sans-serif !important;
}

.swal2-cancel{
    font-family: 'Poppins',sans-serif !important;
}

.swal2-input {
    font-family: 'Poppins',sans-serif;   
}

#swal2-html-container{
    font-family: 'Poppins',sans-serif; 
}*/


/* FOOTER */
.footer 
{
  background-color: black;
  color: white;   
  text-align: center;
  height: 200px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer a {
  color: white;
}

.footer img {
  margin: 0 !important;
}

.footer button {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 6px;
    background-color: #000000d3;
    border-top: 1px #ffffffd3;
    border-right: 1px #ffffffd3;
    border-left: 1px #ffffffd3;
    border-bottom: 1px #ffffffd3;
    backdrop-filter: blur(10px);
    transition-duration: 0.6s;
    overflow: hidden;
}

.footer button i {
  margin: 0;
  color: #ffffff;
}

.footer button:hover
{
  transition-duration: 0.6s;
    transform: translateY(-6px);
    box-shadow: 0 2px 2px 1px #ffffff;
}

.footer button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: #bebebe;
    transform: skew(50deg) translateX(200px);
    transition-duration: .8s;
}

.footer button:hover::before {
    transform: skewX(45deg) translateX(-150px);
}

/* RESPONSIVE - FOOTER */
@media (max-width: 480px) {
  .footer {
    font-size: smaller;
  }
}

@media (max-width: 320px) {
  .footer {
    font-size: 12px;
    padding: 20px 10px 0 10px !important;
  }
}
/* CREDIT CARD STYLES */

.rccs__card--front {
  background: #ff6daa !important;
}

.rccs__name {
  font-family: 'Poppins' !important;
  font-size: 14px !important;
}

/* OTHER ANIMATIONS*/
.scroll-trigger-animation {
  overflow-y: auto;   /* mantiene scroll vertical */
  scrollbar-width: none;  /* Firefox */
}

.scroll-trigger-animation::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* POLICY AND PRIVACY*/

.legal-container {
  padding: 30px 15%;
  color: #4a4a4a;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}

.legal-hero {
  margin-bottom: 60px;
}

.legal-section {
  margin-bottom: 60px;
}

.legal-section h3 {
  color: #ac3365;
  margin-top: 25px;
  font-size: 1.3em;
}

.legal-section ul {
  list-style-type: disc;
  padding-left: 25px;
}

.link-pink {
  color: #fe3f8d;
  text-decoration: none;
  font-weight: 500;
}

.link-pink:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .legal-container {
    padding: 20px 8%;
  }
}

@media (max-width: 425px) {
  .legal-container {
    padding: 10px 4%;
  }
  .legal-hero .text-content {
    font-size: 45px !important;
  }
}