.personal-info-card {
  background: inherit;
  flex-direction: column;
  gap: 32px;
  margin: 55px 10px 310px 310px;
  padding: 108px 12px;
}

.personal-info-header {
  margin-bottom: 0;
}

.personal-info-title {
  color: inherit;
  font-size: 18px;
  font-weight: 600;
}

.divider {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 16px 0;
}

.personal-info-inputs {
  display: flex;
  gap: 4px;
  padding: 0px;
  padding-right: 45px;
  margin-left: -9px;
  align-items: flex-start; /* Alineación superior */
}

.info-input {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info-input input {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #111;
  font-size: 16px;
  padding: 10px 12px;
  height: 40px;
  box-sizing: border-box;
  margin: 0; /* Elimina márgenes invisibles */
}

.info-input[readonly] {
  background-color: #f0f0f0;
  cursor: not-allowed;
  height: 40px;
}

.edit-btn,
.password-btn {
  background-color: #fe3f8d;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 24px;
  gap: 4px !important;
  height: 40px;
  align-self: flex-start; /* Asegura alineación con inputs */
  margin: 0; /* Elimina márgenes por defecto */
}

.edit-btn {
  margin-left: 32px;
}

