.store-card-section {
    overflow-y: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.grahpics {
    height: 300px;
}

.barGraphic {
    width: 500px;
    margin: 10px;
}

.rounded-circle {
    width: 70px;
    height: 70px;
    transition: all .5s;
    box-shadow: 1px 3px 4px 3px rgba(0, 0, 0, 0.164);
    transition: all .5s;
}

.rounded-circle:hover {
    transform: translateY(-5px);
    box-shadow: 1px 3px 4px 3px rgba(0, 0, 0, 0.445);
}

.doughnutGraphic {
    width: 400px;
    height: 500px;
    margin: 10px;
}

.table-header-row , .table-body .table-item {
    grid-template-columns: 1fr 3fr 1.2fr 1.2fr 1.2fr 1.2fr 1.5fr !important;
}

.product-list-dashboard {
    overflow-y: scroll !important;
}

.product-list-dashboard .products-table-container {
    max-height: 500px !important;
}

/* RESPONSIVE */

@media (max-width: 1024px ) {
    .main-dashboard { 
        width: 100% !important;
    }

    .user-name-section
    {
        padding-left: 60px;
    }

    .product-list-dashboard, .gif-animation{
        display: none !important;
    }

    .grahpics{
        flex-direction: column !important;
        align-items: center !important;
    }

    .metrics {
        flex-direction: column !important;
        align-items: center !important;
        padding: 20px;
    }

    .components-container {
        display: inline !important;
    }

    .sales-by-shop {
        display: flex !important;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 480px) 
{ 
    .user-name-section
    {
        padding-left: 120px;
    }

    .pf-cover {
        display: none;
    }
    .bar-chart , .total-sales{
        display: none !important;
    }
    .gif-animation{ 
        display: flex !important;
    }
    .store-card-section {
        margin-top: 10px;
    }
}

@media (max-width: 375px) 
{
    .user-name-section
    {
        padding-left: 100px;
    }

    .sales-by-shop, hr {
        display: none !important;
    }
}

@media (max-width: 320px) 
{ 
    .user-name-section
    {
        padding-left: 85px;
    }
}